<div *ngIf="informes" class="list-container">
  <div *ngIf="!selectedInforme" class="informes-list">
    <ul>
      <li *ngFor="let informe of informes" (click)="selectInforme(informe)">
        {{ informe.numeroInforme }}
      </li>
    </ul>
  </div>
</div>

<button (click)="deselectInforme()" class="back-button">Volver</button>
<button (click)="togglePreview()">Vista Previa</button>
<button (click)="generatePDF()">Exportar a PDF</button>
<div *ngIf="isLoading" class="loading-bar">
  <div class="spinner"></div>
</div>

<div *ngIf="isSaving" class="loading-bar">
  <div class="spinner"></div>
  <p>{{ savingMessage }}</p>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="selectedInforme" class="form-container">
    <div *ngIf="isLoadingPdf" class="loading-bar">
      <p>Generando PDF, por favor espere...</p>
      <div class="spinner"></div>
    </div>

    <app-info-message
      [message]="messageText"
      [type]="messageType"
      [show]="showMessage"
      [duration]="5000"
    >
    </app-info-message>

    <!-- <app-report-modal-component
      *ngIf="showModal"
      [idInforme]="selecInforme"
      [numeroInforme]="selecNumInforme"
      [idDetalle]="selecDetalle"
      [idStatus]="selecStatus"
      [allowImages]="allowImages"
      (save)="closeModal($event)"
      (cancel)="cancelModal()"
    >
    </app-report-modal-component> -->

    <div id="contentToConvert">
      <div *ngIf="showHeaderFooter" class="header">
        <app-header></app-header>
      </div>

      <div class="title-main">
        <h1>
          INFORME DE INSPECCIÓN Y PRUEBA DE CARGA A GRÚAS MÓVILES TELESCÓPICAS
          y/o CELOSÍA (RETICULADAS)
        </h1>
      </div>

      <div class="page">
        <div class="content">
          <form [formGroup]="informeForm" class="A-C">
            <div *ngIf="!isPreviewMode" class="edit-save-buttons">
              <button (click)="toggleEdit()">
                {{ isEditing ? "Cancelar" : "Editar" }}
              </button>
              <button *ngIf="isEditing" (click)="saveChanges()">Guardar</button>
            </div>

            <div class="form-row">
              <div class="title">
                <label>Informe N°</label>
              </div>
              <label>{{ informeForm.get("numeroInforme")?.value }}</label>
              <label>Certificado asociado N°</label>
              <ng-container *ngIf="isEditing; else viewCertificado">
                <input formControlName="numeroInforme" type="text" />
              </ng-container>
              <ng-template #viewCertificado>
                <label>{{ informeForm.get("numeroInforme")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Solicitado por</label>
              </div>
              <label>Empresa</label>
              <ng-container *ngIf="isEditing; else viewEmpresa">
                <input formControlName="nombreEmpresa" type="text" />
              </ng-container>
              <ng-template #viewEmpresa>
                <label>{{ informeForm.get("nombreEmpresa")?.value }}</label>
              </ng-template>
              <label>Persona</label>
              <ng-container *ngIf="isEditing; else viewPersona">
                <input formControlName="nombrePersona" type="text" />
              </ng-container>
              <ng-template #viewPersona>
                <label>{{ informeForm.get("nombrePersona")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Equipo</label>
              </div>
              <ng-container *ngIf="isEditing; else viewEquipo">
                <input formControlName="equipo" type="text" />
              </ng-container>
              <ng-template #viewEquipo>
                <label>{{ informeForm.get("equipo")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Modelo Grúa</label>
              </div>
              <ng-container *ngIf="isEditing; else viewModelo">
                <input formControlName="modeloGrua" type="text" />
              </ng-container>
              <ng-template #viewModelo>
                <label>{{ informeForm.get("modeloGrua")?.value }}</label>
              </ng-template>
            </div>

            <div class="form-row border-color">
  <div class="title">
    <span class="border-right">Tipo</span>
  </div>

  <!-- Modo Edición -->
  <ng-container *ngIf="isEditing; else viewTipo">
    <div class="text-center flex-row">
      <span class="cuadrado">
        <span *ngIf="informeForm.get('tipo')?.value === 1">✖</span>
      </span>
      <input
        type="radio"
        name="tipo_montada"
        [value]="1"
        [checked]="informeForm.get('tipo')?.value === 1"
        (change)="informeForm.patchValue({ tipo: 1 })"
      />
      <label>Montada sobre camión</label>
    </div>

    <div class="text-center flex-row">
      <span class="cuadrado">
        <span *ngIf="informeForm.get('tipo')?.value === 2">✖</span>
      </span>
      <input
        type="radio"
        name="tipo_autopropulsada"
        [value]="2"
        [checked]="informeForm.get('tipo')?.value === 2"
        (change)="informeForm.patchValue({ tipo: 2 })"
      />
      <label>Autopropulsada</label>
    </div>
  </ng-container>

  <!-- Modo Vista -->
  <ng-template #viewTipo>
    <div class="text-center flex-row">
      <span class="cuadrado margin-left-right">
        <span *ngIf="informeForm.get('tipo')?.value === 1">✖</span>
      </span>
      <label class="border-none">Montada sobre camión</label>
    </div>

    <div class="text-center flex-row">
      <span class="cuadrado margin-left-right">
        <span *ngIf="informeForm.get('tipo')?.value === 2">✖</span>
      </span>
      <label class="border-none">Autopropulsada</label>
    </div>
  </ng-template>
</div>

            <div class="form-row">
              <div class="title">
                <label>Marca grúa</label>
              </div>
              <ng-container *ngIf="isEditing; else viewMarca">
                <input formControlName="marcaGrua" type="text" />
              </ng-container>
              <ng-template #viewMarca>
                <label>{{ informeForm.get("marcaGrua")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Horómetro actual</label>
              </div>
              <ng-container *ngIf="isEditing; else viewHorometro">
                <input formControlName="horometroactual" type="number" />
              </ng-container>
              <ng-template #viewHorometro>
                <label>{{ informeForm.get("horometroactual")?.value }}</label>
              </ng-template>
            </div>

            <div class="unionLevante">
              <div class="form-row">
                <div class="title">
                  <label>Capacidad de levante máxima.</label>
                </div>
              </div>
                <div class="capacidad-levante">
                  <label class="label-levante">Grúa</label>
                  <ng-container *ngIf="isEditing; else viewCapLevanteMaxGrua">
                    <ng-container
                      *ngIf="
                        informeForm.get('capLevanteMaxGrua')?.value !== 0;
                        else naCapLevanteMaxGrua
                      "
                    >
                      <input formControlName="capLevanteMaxGrua" type="number" />
                    </ng-container>
                    <ng-template #naCapLevanteMaxGrua>
                      <label class="label-levante">N/A</label>
                    </ng-template>
                  </ng-container>
                  <ng-template #viewCapLevanteMaxGrua>
                    <label class="label-levante">{{
                      informeForm.get("capLevanteMaxGrua")?.value !== 0
                        ? informeForm.get("capLevanteMaxGrua")?.value
                        : "N/A"
                    }}</label>
                  </ng-template>
                  <label class="label-levante">kg</label>
                  <label class="label-levante">Gancho principal</label>
                  <ng-container *ngIf="isEditing; else viewCapLevanteMaxGanchoPrin">
                    <ng-container
                      *ngIf="
                        informeForm.get('capLevanteMaxGanchoPrin')?.value !== 0;
                        else naCapLevanteMaxGanchoPrin
                      "
                    >
                      <input formControlName="capLevanteMaxGanchoPrin" type="number" />
                    </ng-container>
                    <ng-template #naCapLevanteMaxGanchoPrin>
                      <label class="label-levante">N/A</label>
                    </ng-template>
                  </ng-container>
                  <ng-template #viewCapLevanteMaxGanchoPrin>
                    <label class="label-levante">{{
                      informeForm.get("capLevanteMaxGanchoPrin")?.value !== 0
                        ? informeForm.get("capLevanteMaxGanchoPrin")?.value
                        : "N/A"
                    }}</label>
                  </ng-template>
                  <label class="label-levante">kg</label>
                  <label class="label-levante">Gancho auxiliar</label>
                  <ng-container *ngIf="isEditing; else viewCapLevanteMaxGanchoAux">
                    <ng-container
                      *ngIf="
                        informeForm.get('capLevanteMaxGanchoAux')?.value !== 0;
                        else naCapLevanteMaxGanchoAux
                      "
                    >
                      <input formControlName="capLevanteMaxGanchoAux" type="number" />
                    </ng-container>
                    <ng-template #naCapLevanteMaxGanchoAux>
                      <label class="label-levante">N/A</label>
                    </ng-template>
                  </ng-container>
                  <ng-template #viewCapLevanteMaxGanchoAux>
                    <label class="label-levante">{{
                      informeForm.get("capLevanteMaxGanchoAux")?.value !== 0
                        ? informeForm.get("capLevanteMaxGanchoAux")?.value
                        : "N/A"
                    }}</label>
                  </ng-template>
                  <label class="label-levante">kg</label>
                </div>
            </div>
            

            <div class="form-row">
              <div class="title">
                <label>Fecha de Fabricación</label>
              </div>
              <ng-container *ngIf="isEditing; else viewFechaFabricacion">
                <input formControlName="fechaFabricacion" type="text" />
              </ng-container>
              <ng-template #viewFechaFabricacion>
                <label>{{ informeForm.get("fechaFabricacion")?.value }}</label>
              </ng-template>
            </div>

            <div class="form-row">
              <div class="title">
                <label>ID o número de serie</label>
              </div>
              <ng-container *ngIf="isEditing; else viewNumeroSerie">
                <input formControlName="numeroSerie" type="text" />
              </ng-container>
              <ng-template #viewNumeroSerie>
                <label>{{ informeForm.get("numeroSerie")?.value }}</label>
              </ng-template>
              <label>Sello ALS</label>
              <label>2303023815042</label>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Patente Vehículo</label>
              </div>
              <ng-container *ngIf="isEditing; else viewPatente">
                <input formControlName="patenteVehiculo" type="text" />
              </ng-container>
              <ng-template #viewPatente>
                <label>{{ informeForm.get("patenteVehiculo")?.value }}</label>
              </ng-template>
            </div>

            <div class="form-row">
              <div class="title">
                <label>Lugar de inspección y prueba</label>
              </div>
              <ng-container *ngIf="isEditing; else viewLugarInspeccion">
                <input formControlName="lugarInspeccion" type="text" />
              </ng-container>
              <ng-template #viewLugarInspeccion>
                <label>{{ informeForm.get("lugarInspeccion")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Fecha de inspección y prueba</label>
              </div>
              <ng-container *ngIf="isEditing; else viewFechaInspeccion">
                <input formControlName="fechaInspeccion" type="date" />
              </ng-container>
              <ng-template #viewFechaInspeccion>
                <label>{{ informeForm.get("fechaInspeccion")?.value }}</label>
              </ng-template>
            </div>
            <div class="form-row">
              <div class="title">
                <label>Fecha de emisión informe</label>
              </div>
              <label>{{ fechaEmisionInforme }}</label>
            </div>
            <div class="subtitle">
              <h3 class="custom-h3">
                <strong>(CU)</strong> CUMPLE <strong>(N/C)</strong> NO CUMPLE NO
                APLICA
                <strong>(N/A)</strong>
                RECOMENDACIÓN
                <strong>(RE)</strong>
              </h3>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
