<div class="header">
  <h1>INFORME DE INSPECCIÓN Y PRUEBA DE CARGA A GRÚAS PUENTE y/o PÓRTICO</h1>
</div>

<div *ngIf="informes" class="list-container">
    <div *ngIf="!selectedInforme" class="informes-list">
      <ul>
        <li *ngFor="let informe of informes" (click)="selectInforme(informe)">          
          {{ informe.numeroInforme }}
        </li>
      </ul>
    </div>
</div>

<div *ngIf="selectedInforme" class="form-container">
<button (click)="deselectInforme()" class="back-button">Volver</button>
  <form [formGroup]="informeForm">
    <div class="form-row">
      <div class="title">
        <label>Informe N°</label>
      </div>
      <label>{{selectedInforme.numeroInforme}}</label>
      <label>Certificado asociado N°</label>
      <label>{{selectedInforme.numeroInforme}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Solicitado por</label>
      </div>
      <label>Empresa</label>
      <label>{{selectedInforme.empresa}}</label>
      <label>Persona</label>
      <label>{{selectedInforme.persona}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Equipo</label>
      </div>
      <label>{{selectedInforme.equipo}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Modelo</label>
      </div>
      <label>{{selectedInforme.modelo}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Marca</label>
      </div>
      <label class="expand">{{selectedInforme.marca}}</label>
    </div>
    <div class="form-row capacidad-nominal">
      <div class="title">
        <label>Capacidad Nominal</label>
      </div>
      <label>Polipasto 1</label>
      <label>{{selectedInforme.polipasto1 !== 0 ? selectedInforme.polipasto1 : 'N/A'}}</label>
      <label>kg</label>
      <label>Polipasto 2</label>
      <label>{{selectedInforme.polipasto2 !== 0 ? selectedInforme.polipasto2 : 'N/A'}}</label>
      <label>kg</label>
      <label>Polipasto 3</label>
      <label>{{selectedInforme.polipasto3 !== 0 ? selectedInforme.polipasto3 : 'N/A'}}</label>
      <label class="expand">kg</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de Fabricación</label>
      </div>
      <label class="expand">{{selectedInforme.fechaFabricacion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>ID o número de serie</label>
      </div>
      <label class="expand">{{selectedInforme.numeroSerie}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Lugar de inscripción y prueba</label>
      </div>
      <label class="expand">{{selectedInforme.lugarInscripcion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de inspección y prueba</label>
      </div>
      <label class="expand">{{selectedInforme.fechaInspeccion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de emisión informe</label>
      </div>
      <label class="expand">{{selectedInforme.fechaInspeccion}}</label>
    </div>
    <div>
      <h3>(CU) CUMPLE (N/C)  NO CUMPLE  NO APLICA (N/A)  RECOMENDACIÓN(RE)</h3>
    </div>
    <h2>A.- Condición general y documental</h2>
    <div class="form-row-A-F">
      <label>Item</label>
      <label>Detalle</label>
      <label>Status</label>
      <label>Item</label>
      <label>Detalle</label>
      <label>Status</label>
    </div>
    <div *ngFor="let item of itemsWithStatus | slice:0:6; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[6+i]">{{ itemsWithStatus[6+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[6+i]" title="{{ itemsWithStatus[6+i].detalle }}">{{ itemsWithStatus[6+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[6+i]">{{ itemsWithStatus[6+i].alias }}</label>
  </div>
  <h2>B.- Revisión sistemas mecánicos y estructurales</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:11:15; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[15+i]">{{ itemsWithStatus[15+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[15+i]" title="{{ itemsWithStatus[15+i].detalle }}">{{ itemsWithStatus[15+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[15+i]">{{ itemsWithStatus[15+i].alias }}</label>
  </div>
  <h2>C.- Revisión de sistemas alimentación y control</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:19:23; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[23+i]">{{ itemsWithStatus[23+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[23+i]" title="{{ itemsWithStatus[23+i].detalle }}">{{ itemsWithStatus[23+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[23+i]">{{ itemsWithStatus[23+i].alias }}</label>
  </div>
  <h2>D.- Revisión de dispositivos de seguridad y límites de carrera</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:26:35; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[35+i]">{{ itemsWithStatus[35+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[35+i]" title="{{ itemsWithStatus[35+i].detalle }}">{{ itemsWithStatus[35+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[35+i]">{{ itemsWithStatus[35+i].alias }}</label>
  </div>
  <h2>E.- Revisión de sistemas de izaje de carga y motrices</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:43:48; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[48+i]">{{ itemsWithStatus[48+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[48+i]" title="{{ itemsWithStatus[48+i].detalle }}">{{ itemsWithStatus[48+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[48+i]">{{ itemsWithStatus[48+i].alias }}</label>
  </div>
  <h2>F.- Revisión cables/cadena de izaje / ganchos</h2>
  <div class="gancho">
    <label class="gancho-label">Gancho 1</label>
    <label class="gancho-label">Gancho 2</label>
  </div>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:52:60; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[60+i]">{{ itemsWithStatus[60+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[60+i]" title="{{ itemsWithStatus[60+i].detalle }}">{{ itemsWithStatus[60+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[60+i]">{{ itemsWithStatus[60+i].alias }}</label>
  </div>
  <h2>G.- Informe de recomendaciones (RE) y no conformidades (N/C) importantes de seguridad encontradas.</h2>
  <div class="form-row-G">
    <label>Item</label>
    <label>RE o N/C</label>
    <label>Descripción</label>
  </div>
  <div *ngFor="let descripcion of descripcionItems" class="form-row-G">
  <label>{{ descripcion.idDetalle }}</label>
  <label>{{ getStatusLabel(descripcion.idStatus) }}</label>
  <label>{{ descripcion.descripcion }}</label>
</div>
<h2>Notas en columna descripción:</h2>
  <ul>
      <h2>-	La palabra “debe” indica un requisito. Se relaciona con una no conformidad (N/C) y debe ser corregida por el cliente.</h2>
      <h2>-	La palabra “debería” indica una recomendación/observación (RE). Puede o no ser tratada por el cliente.</h2>
  </ul>
  <h3>Nota muy importante: Si correspondiesen acciones correctivas (por no conformidades, n/c), estas deberán ser solucionadas o tratadas por el cliente en el menor tiempo posible con el fin de reducir los riesgos asociados de mantener en operación un equipo sub-estándar. 
  </h3>
  <h3>Las observaciones importantes de seguridad (N/C) deberán, si corresponde, ser levantadas mediante el documento “levantamiento de no conformidades”.</h3>
  </form> 
</div>
