<div class="header">
  <h1>INFORME DE INSPECCIÓN Y PRUEBA DE CARGA A GRÚAS PUENTE y/o PÓRTICO</h1>
</div>

<div *ngIf="informes" class="list-container">
    <div *ngIf="!selectedInforme" class="informes-list">
      <ul>
        <li *ngFor="let informe of informes" (click)="selectInforme(informe)">          
          {{ informe.numeroInforme }}
        </li>
      </ul>
    </div>
</div>

<div *ngIf="selectedInforme" class="form-container">
<button (click)="deselectInforme()" class="back-button">Volver</button>
  <form [formGroup]="informeForm">
    <div class="form-row">
      <div class="title">
        <label>Informe N°</label>
      </div>
      <label>{{selectedInforme.numeroInforme}}</label>
      <label>Certificado asociado N°</label>
      <label>{{selectedInforme.numeroInforme}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Solicitado por</label>
      </div>
      <label>Empresa</label>
      <label>{{selectedInforme.empresa}}</label>
      <label>Persona</label>
      <label>{{selectedInforme.persona}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Equipo</label>
      </div>
      <label>{{selectedInforme.equipo}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Modelo</label>
      </div>
      <label>{{selectedInforme.modelo}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Marca</label>
      </div>
      <label class="expand">{{selectedInforme.marca}}</label>
    </div>
    <div class="form-row capacidad-nominal">
      <div class="title">
        <label>Capacidad Nominal</label>
      </div>
      <label>Polipasto 1</label>
      <label>{{selectedInforme.polipasto1 !== 0 ? selectedInforme.polipasto1 : 'N/A'}}</label>
      <label>kg</label>
      <label>Polipasto 2</label>
      <label>{{selectedInforme.polipasto2 !== 0 ? selectedInforme.polipasto2 : 'N/A'}}</label>
      <label>kg</label>
      <label>Polipasto 3</label>
      <label>{{selectedInforme.polipasto3 !== 0 ? selectedInforme.polipasto3 : 'N/A'}}</label>
      <label class="expand">kg</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de Fabricación</label>
      </div>
      <label class="expand">{{selectedInforme.fechaFabricacion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>ID o número de serie</label>
      </div>
      <label class="expand">{{selectedInforme.numeroSerie}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Lugar de inscripción y prueba</label>
      </div>
      <label class="expand">{{selectedInforme.lugarInscripcion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de inspección y prueba</label>
      </div>
      <label class="expand">{{selectedInforme.fechaInspeccion}}</label>
    </div>
    <div class="form-row">
      <div class="title">
        <label>Fecha de emisión informe</label>
      </div>
      <label class="expand">{{selectedInforme.fechaInspeccion}}</label>
    </div>
    <div>
      <h3>(CU) CUMPLE (N/C)  NO CUMPLE  NO APLICA (N/A)  RECOMENDACIÓN(RE)</h3>
    </div>
    <h2>A.- Condición general y documental</h2>
    <div class="form-row-A-F">
      <label>Item</label>
      <label>Detalle</label>
      <label>Status</label>
      <label>Item</label>
      <label>Detalle</label>
      <label>Status</label>
    </div>
    <div *ngFor="let item of itemsWithStatus | slice:0:6; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[6+i]">{{ itemsWithStatus[6+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[6+i]" title="{{ itemsWithStatus[6+i].detalle }}">{{ itemsWithStatus[6+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[6+i]">{{ itemsWithStatus[6+i].alias }}</label>
  </div>
  <h2>B.- Revisión sistemas mecánicos y estructurales</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:11:15; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[15+i]">{{ itemsWithStatus[15+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[15+i]" title="{{ itemsWithStatus[15+i].detalle }}">{{ itemsWithStatus[15+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[15+i]">{{ itemsWithStatus[15+i].alias }}</label>
  </div>
  <h2>C.- Revisión de sistemas alimentación y control</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:19:23; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[23+i]">{{ itemsWithStatus[23+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[23+i]" title="{{ itemsWithStatus[23+i].detalle }}">{{ itemsWithStatus[23+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[23+i]">{{ itemsWithStatus[23+i].alias }}</label>
  </div>
  <h2>D.- Revisión de dispositivos de seguridad y límites de carrera</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:26:35; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[35+i]">{{ itemsWithStatus[35+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[35+i]" title="{{ itemsWithStatus[35+i].detalle }}">{{ itemsWithStatus[35+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[35+i]">{{ itemsWithStatus[35+i].alias }}</label>
  </div>
  <h2>E.- Revisión de sistemas de izaje de carga y motrices</h2>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:43:48; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[48+i]">{{ itemsWithStatus[48+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[48+i]" title="{{ itemsWithStatus[48+i].detalle }}">{{ itemsWithStatus[48+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[48+i]">{{ itemsWithStatus[48+i].alias }}</label>
  </div>
  <h2>F.- Revisión cables/cadena de izaje / ganchos</h2>
  <div class="gancho">
    <label class="gancho-label">Gancho 1</label>
    <label class="gancho-label">Gancho 2</label>
  </div>
  <div class="form-row-A-F">
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
    <label>Item</label>
    <label>Detalle</label>
    <label>Status</label>
  </div>
  <div *ngFor="let item of itemsWithStatus | slice:52:60; let i = index" class="form-row-A-F">
    <label>{{ item.idItem }}</label>
    <label title="{{ item.detalle }}">{{ item.detalle }}</label>
    <label>{{ item.alias }}</label>
    <label *ngIf="itemsWithStatus[60+i]">{{ itemsWithStatus[60+i].idItem }}</label>
    <label *ngIf="itemsWithStatus[60+i]" title="{{ itemsWithStatus[60+i].detalle }}">{{ itemsWithStatus[60+i].detalle }}</label>
    <label *ngIf="itemsWithStatus[60+i]">{{ itemsWithStatus[60+i].alias }}</label>
  </div>
  <h2>G.- Informe de recomendaciones (RE) y no conformidades (N/C) importantes de seguridad encontradas.</h2>
  <div class="form-row-G">
    <label>Item</label>
    <label>RE o N/C</label>
    <label>Descripción</label>
  </div>
  <div *ngFor="let descripcion of descripcionItems" class="form-row-G">
  <label>{{ descripcion.idDetalle }}</label>
  <label>{{ getStatusLabel(descripcion.idStatus) }}</label>
  <label>{{ descripcion.descripcion }}</label>
</div>
<h2>Notas en columna descripción:</h2>
  <ul>
      <h2>-	La palabra “debe” indica un requisito. Se relaciona con una no conformidad (N/C) y debe ser corregida por el cliente.</h2>
      <h2>-	La palabra “debería” indica una recomendación/observación (RE). Puede o no ser tratada por el cliente.</h2>
  </ul>
  <h3>Nota muy importante: Si correspondiesen acciones correctivas (por no conformidades, n/c), estas deberán ser solucionadas o tratadas por el cliente en el menor tiempo posible con el fin de reducir los riesgos asociados de mantener en operación un equipo sub-estándar. 
  </h3>
  <h3>Las observaciones importantes de seguridad (N/C) deberán, si corresponde, ser levantadas mediante el documento “levantamiento de no conformidades”.</h3>
  <div class="form-row-H">
    <label class="titulo-columna">Fecha prueba de carga</label>
    <label>{{ formHData?.fecha }}</label>
  </div>
  <div class="form-row-H">
    <label class="titulo-columna">Vigencia prueba de carga <br>(sujeta a inspección visual, auditiva funcional y de <br>seguridad anual)</label>
    <label>{{ formHData?.vigencia }}</label>
  </div>
  <div class="form-row-H">
    <label class="titulo-columna">Lugar de prueba de carga</label>
    <label>{{ formHData?.lugar }}</label>
  </div>
  <div class="form-row-H">
    <label class="titulo-columna">Norma para certificación Carga de Prueba</label>
    <label>ASME B30.2-2016, Capítulo 2-2.3.1 // 2-2.3.2</label> <!-- Valor fijo -->
  </div>
  <div class="form-row-H equipo-medicion">
  <div class="titulo-columna">
    <h3>Equipos / instrumentos de medición</h3>
  </div>
  <div class="equipo-datos">
    <div class="equipo-header">
      <label>Nombre de equipo</label>
      <label>SI</label>
      <label>NO</label>
      <label>Certificado Número</label>
    </div>
    <div class="equipo-items">
      <div class="form-row">
        <label>Cinta métrica (flexómetro)</label>
        <label class="center">{{ formHData?.cintaMetrica === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.cintaMetrica === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.cintaMetricaNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Pie de metro (caliper)</label>
        <label class="center">{{ formHData?.pie_metro === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.pie_metro === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.pie_metroNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Bolsas de agua</label>
        <label class="center">{{ formHData?.bolsasAgua === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.bolsasAgua === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.bolsasAguaNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Masas</label>
        <label class="center">{{ formHData?.masas === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.masas === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.masasNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Dinamómetro</label>
        <label class="center">{{ formHData?.dinamometro === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.dinamometro === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.dinamometroNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Flujómetro</label>
        <label class="center">{{ formHData?.flujometro === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.flujometro === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.flujometroNCertificado }}</label>
      </div>
      <div class="form-row">
        <label>Otro (indicar)</label>
        <label class="center">{{ formHData?.otro === 'SI' ? '✔' : '' }}</label>
        <label class="center">{{ formHData?.otro === 'NO' ? '✖' : '' }}</label>
        <label class="center">{{ formHData?.otroNCertificado }}</label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-row-nominal">
    <label>Capacidad nominal puente (SWL)</label>
    <label>Polipasto 1</label>
    <label>{{ formHData?.cargaPruebaPoli1 }}</label>
    <label>kg</label>
    <label>Polipasto 2</label>
    <label>{{ formHData?.cargaPruebaPoli2 }}</label>
    <label>kg</label>
    <label>Polipasto 3</label>
    <label>{{ formHData?.cargaPruebaPoli3 !== 0 ? formHData?.cargaPruebaPoli3 : 'N/A' }}</label>
    <label>kg</label>
  </div>

  <div class="form-row-single">
    <label>Operador (NOMBRE/RUT)</label>
    <label>{{selectedInforme.persona}}</label>
  </div>
  <div class="form-row-single">
    <label>Inspector ALS (NOMBRE/RUT)</label>
    <input 
      formControlName="inspector" 
      [placeholder]="inspectorControl?.invalid && inspectorControl?.touched ? 'El nombre del inspector es obligatorio' : ''" 
      [class.error-input]="inspectorControl?.invalid && inspectorControl?.touched">
  </div>
  <div class="union">
    <div class="title-part1">
      <div class="title-class">
        <label>Clasificación Bueno (B) Regular (R) Malo (M)</label>
      </div>
      <div class="form-item">
        <label class="title-col">ITEM</label>
        <label class="title-col">Traslación (puente)</label>
        <label class="title-col">Dirección (carro)</label>
        <label class="title-col">Izaje (gancho)</label>
      </div>
    </div>
    <div class="title-part2">
      <label class="title-col">Carga de prueba aplicada >= 100% <= 125%</label>
      <label class="title-col">SWL (Carga segura de trabajo)</label>
    </div>
  </div>

  <div class="form-row form-row-clasificacion">
      <label>Polipasto 1</label>
      <label>{{ formHData?.poliUnoTraslacion }}</label>
      <label>{{ formHData?.poliUnoDireccion }}</label>
      <label>{{ formHData?.poliUnoIzaje }}</label>
      <label>{{ formHData?.cargaPruebaPoli1 }}</label>
      <label>kg</label>
      <label>{{formHData?.cargaSeguraPoli1}}</label>
      <label>kg</label>
  </div>

  <div class="form-row form-row-clasificacion">
      <label>Polipasto 2</label>
      <label>{{ formHData?.poliDosTraslacion }}</label>
      <label>{{ formHData?.poliDosDireccion }}</label>
      <label>{{ formHData?.poliDosIzaje }}</label>
      <label>{{ formHData?.cargaPruebaPoli2 }}</label>
      <label>kg</label>
      <label>{{formHData?.cargaSeguraPoli2}}</label>
      <label>kg</label>
  </div>

  <div class="form-row form-row-clasificacion">
      <label>Polipasto 3</label>
      <label>{{ formHData?.poliTresTraslacion !== 0 ? formHData?.poliTresTraslacion : 'N/A' }}</label>
      <label>{{ formHData?.poliTresDireccion !== 0 ? formHData?.poliTresDireccion : 'N/A' }}</label>
      <label>{{ formHData?.poliTresIzaje !== 0 ? formHData?.poliTresIzaje : 'N/A' }}</label>
      <label>{{ formHData?.cargaPruebaPoli3 !== 0 ? formHData?.cargaPruebaPoli3 : 'N/A' }}</label>
      <label>kg</label>
      <label>{{formHData?.cargaSeguraPoli3 !== 0 ? formHData?.cargaSeguraPoli3 : 'N/A'}}</label>
      <label>kg</label>
  </div>

  <div class="form-row">
      <label class="text-right">RESULTADO PRUEBA DE CARGA:</label>
      <label class="upper">{{ formHData?.resulPruebaCarga }}</label>
  </div>
  <div>
    <label class="upper comentario">COMENTARIOS: {{ formHData?.comentarios }}</label>
  </div>

  <h2>H.1. Evaluación de frenos - Medición descenso de la carga de prueba >= 100% <=125%</h2>

  <div class="form-row titulo-h1">
    <label>Medición</label>
    <label>Antes</label>
    <label>Después</label>
    <label>Hora inicio</label>
    <label>Hora término</label>
    <label>Resultado</label>
  </div>
  <div class="form-row datos-h1">
    <label>Polipasto #1</label>
    <label>{{ formH1Data?.poliUnoAntes }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliUnoDespues }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliUnoHInicio }}:00</label>
    <label>{{ formH1Data?.poliUnoHTermino }}:00</label>
    <label>{{ formH1Data?.poliUnoResultado === 'SI' ? 'SATISFACTORIO' : 'INSATISFACTORIO' }}</label>
  </div>
  <div class="form-row datos-h1">
    <label>Polipasto #2</label>
    <label>{{ formH1Data?.poliDosAntes }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliDosDespues }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliDosHInicio }}:00</label>
    <label>{{ formH1Data?.poliDosHTermino }}:00</label>
    <label>{{ formH1Data?.poliDosResultado === 'SI' ? 'SATISFACTORIO' : 'INSATISFACTORIO' }}</label>
  </div>
  <div class="form-row datos-h1">
    <label>Polipasto #3</label>
    <label>{{ formH1Data?.poliTresAntes && formH1Data?.poliTresAntes !== 0 ? formH1Data?.poliTresAntes : 'N/A' }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliTresDespues && formH1Data?.poliTresDespues !== 0 ? formH1Data?.poliTresDespues : 'N/A' }}</label>
    <label>cm</label>
    <label>{{ formH1Data?.poliTresHInicio && formH1Data?.poliTresHInicio !== 0 ? formH1Data?.poliTresHInicio + ':00' : 'N/A' }}</label>
    <label>{{ formH1Data?.poliTresHTermino && formH1Data?.poliTresHTermino !== 0 ? formH1Data?.poliTresHTermino + ':00' : 'N/A' }}</label>
    <label>{{ formH1Data?.poliTresResultado && formH1Data?.poliTresResultado === 'SI' ? 'SATISFACTORIO' : (formH1Data?.poliTresResultado === 'N/A' ? 'N/A' : 'INSATISFACTORIO') }}</label>
  </div>

    <div class="check">
      <h4 class="center">Condición de frenos:</h4>
      <label class="cuadrado">
        <span *ngIf="formH1Data?.condicionFrenos === 'satisfactorio'">X</span>
      </label>
      <h4 class="text-left">Satisfactorio</h4>
      <label class="cuadrado">
        <span *ngIf="formH1Data?.condicionFrenos !== 'satisfactorio'">X</span>
      </label>
      <h4 class="text-left">Insatisfactorio</h4>
    </div>

  <h2>H.2. Medición de los ganchos antes y después de la prueba</h2>
  <div class="unionH2">
    <div class="title-part4">
      <div class="title-part3">
        <label class="paddingLeft">GANCHO DOBLE</label>
        <label class="center justifyCenter">Antes de la prueba</label>
        <label class="center justifyCenter">Después de la prueba</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud A-B</label>
        <label class="center">{{ formH2Data?.longitudUABAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longitudUABDesp }}</label>
        <label class="center">cm</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud B-C</label>
        <label class="center">{{ formH2Data?.longitudDBCAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longitudDBCDesp }}</label>
        <label class="center">cm</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud A-B'</label>
        <label class="center">{{ formH2Data?.longitudTABAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longitudTABDesp }}</label>
        <label class="center">cm</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud B-C'</label>
        <label class="center">{{ formH2Data?.longitudCBCAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longitudCBCDesp }}</label>
        <label class="center">cm</label>
      </div>
    </div>
      <label>
        <div class="imgH2">
          <img src="assets/formulario_puente/tipo_doble.jpg" alt="Tipo doble">
        </div>
      </label>
  </div>
  <div class="form-row resultadoH2">
    <label class="text-right">Resultado (X)</label>
    <label class="text-right">Satisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longitudResulDoble === 'satisfactorio'">X</span>
    </label>
    <label class="text-right">Insatisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longitudResulDoble !== 'satisfactorio'">X</span>
    </label>
    <label class="center">Tipo doble</label>
  </div>
  <br>
  <div class="unionH2">
    <div class="title-part4">
      <div class="title-part3">
        <label class="paddingLeft">GANCHO SIMPLE</label>
        <label class="center justifyCenter">Antes de la prueba</label>
        <label class="center justifyCenter">Después de la prueba</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud A-B</label>
        <label class="center">{{ formH2Data?.longDABAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longDABDesp }}</label>
        <label class="center">cm</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud B-C</label>
        <label class="center">{{ formH2Data?.longDBCAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longDBCDesp }}</label>
        <label class="center">cm</label>
      </div>    
    </div>
      <label>
        <div class="imgH2">
          <img src="assets/formulario_puente/tipo_simple.jpg" alt="Tipo simple">
        </div>
      </label>
  </div>
  <div class="form-row resultadoH2">
    <label class="text-right">Resultado (X)</label>
    <label class="text-right">Satisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longResulSimple === 'satisfactorio'">X</span>
    </label>
    <label class="text-right">Insatisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longResulSimple !== 'satisfactorio'">X</span>
    </label>
    <label class="center">Tipo simple</label>
  </div>
  <br>
  <div class="unionH2">
    <div class="title-part4">
      <div class="title-part3">
        <label class="paddingLeft">GANCHO SIMPLE</label>
        <label class="center justifyCenter">Antes de la prueba</label>
        <label class="center justifyCenter">Después de la prueba</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud A-B</label>
        <label class="center">{{ formH2Data?.longGSABAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longGSABDesp }}</label>
        <label class="center">cm</label>
      </div>
      <div class="form-row datos-h2">
        <label class="paddingLeft">Longitud B-C</label>
        <label class="center">{{ formH2Data?.longGSBCAntes }}</label>
        <label class="center">cm</label>
        <label class="center">{{ formH2Data?.longGSBCDesp }}</label>
        <label class="center">cm</label>
      </div>    
    </div>
      <label>
        <div class="imgH2">
          <img src="assets/formulario_puente/tipo_simple.jpg" alt="Tipo simple">
        </div>
      </label>
  </div>
  <div class="form-row resultadoH2">
    <label class="text-right">Resultado (X)</label>
    <label class="text-right">Satisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longResulSimpleDos === 'satisfactorio'">X</span>
    </label>
    <label class="text-right">Insatisfactorio</label>
    <label class="cuadrado centerCuadrado">
      <span *ngIf="formH2Data?.longResulSimpleDos !== 'satisfactorio' && formH2Data?.longResulSimpleDos !== 'N/A'">X</span>
    </label>
    <label class="center">Tipo simple</label>
  </div>
  </form> 
</div>
