<div class="container-pdf">
  <div #header>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container-logo">          
            <img src="./../../../../../assets/logof.png" alt="LOGO ALS">
          </div>
          <div class="container-header text-right">
            <h4>ALS Inspection Chile SpA</h4>
            <p>Limache 3405, Office 61</p>
            <p>Viña del Mar, Chile</p>
            <p>T +56 32 2545 500</p>
            <br><br><br>  
            <p class="mt-5">Informe: GRC-2311-0441 C</p>
            <p>Fecha: 27-11-2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
